.statusForm label{
	display: block;
}
.displayEntry{
	float: left;
	width: 100%;
	border: 1px solid black;
	padding: 2%;
	margin: 20px 0 10px 0;
}
.statusForm textarea {
	width: 100%;
}
.selectLength {
	width: 100%;
}
.listDateCnt {
	float: left;
	width: 100px;
}
.listDescriptionCnt {
	float: left;
	width: 700px;
}
.listTimeCnt {
	float: right;
	width: 200px;
}
.displayList {
	float: left;
    padding: 2%;
    width: 100%;
    border: 1px solid black;
}
#noResults {
	display: block;
	border: 1px solid black;
	float: left;
	width: 100%;
	padding: 2%;
	text-align: center;
}
.marginBottom {
	margin:0 0 10px 0;
}